/* You can add global styles to this file, and also import other style files */
.margined{
    margin: 40px;
}

.title {
    text-align: center;
}

.padding {
    margin-left: 5px;
}

.footer {
    text-align: center;
}
.list1 ul { list-style:none; text-align:left; padding: 0px}
.list1 ul li { display:inline; }


.ludwig {
    position: relative;
    padding-left: 1em;
    border-left: 0.2em solid teal;
    font-family: 'Roboto', serif;
    font-size: 1.0em;
    line-height: 1.5em;
    font-weight: 100;
  }